<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>AngularJs Sample</title>
    <script src="Scripts/angular.js"></script>
    <script src="Controllers/app.js"></script>
    <script src="Controllers/Testcontroller.js"></script>
</head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body ng-app="myBookList" ng-controller="myController" class="w3-card-2 w3-margin" style="max-width:400px";>
    <div>
        <header class="w3-container w3-light-grey w3-padding-16">
            <h3>List of Books</h3>
        </header>
        <ul class="w3-ul">  <!--for line-->
            <li ng-repeat="x in products" class="w3-padding-16"> <!--generate space around text-->
                {{x}}<span ng-click="removeItem($index)" style="cursor:pointer;" class="w3-right w3-margin-right">&times;</span>
            </li>
        </ul>
        <div class="w3-row w3-margin-top">
            <div class="w3-container w3-light-grey w3-padding-16">
                <div class="w3-col s10">
                    <input placeholder="Add new Items" ng-model="addInList" class="w3-input w3-border w3-padding" />
                </div>
                <div class="w3-col s2">
                    <button ng-click="addItems()" class="w3-btn w3-padding w3-red">Add</button>
                </div>
                <p>{{errortext}}</p>
            </div>
        </div>
    </div>
</body>
</html>